<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Webfont Kit Uploader</title>
  <style>
    @font-face {
      font-family: Built;
      src: url("/uploads/fonts/min/1ecdb4b3-05df-4629-a61e-cb903079dec9.woff");
    }

    h1 {
      color: tomato;
      font-family: Built;
    }
  </style>
</head>
<body>
  <h1>Webfont Kit Uploader</h1>
  <form action="/fonts/upload" method="post" enctype="multipart/form-data">
    <p><input type="text" name="any-text" value="hello"></p>
    <p><input type="file" name="webfont-kit"></p>
    <p><button>Upload</button></p>
  </form>
</body>
</html>
