<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Webfont Kit Uploader</title>
</head>
<body>
  <h1>Webfont Kit Uploader</h1>
  <form action="/fonts/upload" method="post" enctype="multipart/form-data">
    <p><input type="text" name="any-text" value="hello"></p>
    <p><input type="file" name="webfont-kit"></p>
    <p><button>Upload</button></p>
  </form>
</body>
</html>
